@import url('https://fonts.googleapis.com/css?family=Abel');

* {
    font-family: Abel, Arial, Verdana, sans-serif;
    margin: 10;
    box-sizing: border-box;
}

input {
    width: 50%;
    padding: 8px 12px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80px;
    width:80px;
}

.pokemon-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:150px;
    width:150px;
}

select {
    height: 30px;
    width: 120px;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

button {
    height: 25px;
    width: 245px;
}
  
body {
font-family: 'Roboto Slab', sans-serif;
background-color: #d1d2d3;
color: #0e1238;
}

main {
text-align: center;
}

main h1 {
padding: 30px 20px 20px;
font-size: 24px;
}

main .form i:hover {
cursor: pointer;
}

main .form input {
padding: 10px;
margin: 0 0 30px 10px;
border: 2px solid #0e1238;
border-radius: 5px;
font-family: 'Roboto Slab', sans-serif;
}

main .form input::placeholder {
font-family: 'Roboto Slab', sans-serif;
}

.container h3 {
padding: 0 0 30px 30px;
}

/* Cards */

/* .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 30px 50px;
    }
    
    .cards  */

.cards-inner {
display: flex;
background-color: #fafcfd;
padding: 20px;
border-radius: 5px;
transition: box-shadow 0.4s;
flex-direction: column;
min-width: 200px;
}

.cards-inner:hover { /* .cards */
box-shadow: 0 5px 20px rgba(1, 45, 128, 0.5);
}

/* .cards .cards-inner div i {
margin-right: 20px;
font-size: 24px;
}

.cards .cards-inner div p {
margin-top: 20px;
line-height: 1.6;
font-size: 14px;
} */

@media (min-width: 600px) {
main h1 {
    max-width: 500px;
    margin: auto;
}

.cards {
    grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 912px) {
.cards {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (min-width: 1200px) {
.container {
    max-width: 1100px;
    margin: auto;
}
}